body {
  margin: 0;
  padding: 0;
}

.index-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #333;
}
.welcome {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 320px;
}

.welcome p{
  font-family: 'Roboto', sans-serif;
  flex: 1 100%;
  text-align: center;
  color: white;
  font-size: 26px;
}
.welcome a {
  flex:1 auto;
  color: white;
  transition: 0.5s all;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;

  background: tranparent;
}

.welcome a:hover {
  color: #ccc;
  background: rgba(255,2555,255, 0.4);
}

.big-logo {
  flex: 1 100%;
  margin: 15px;
}

.big-logo img{
  max-width: 320px;
  width: 100%;
  text-align: center;
  transition: 0.5s all;
}
.big-logo:hover{
  opacity: 0.5;
  background: none!important;
}

.welcome .social{
  margin: auto;
  padding: 15px 0;
}

.welcome .social a{
  border-radius: 50%;
  display: inline-block;
}

.welcome .social a i{
  width: 20px;
  height: 16px;
}

.fb{
  background-color: #6081c4;
}

.youtube{
  background-color: #ea3229;
}

.vimeo{
  background-color:#00b9d8;
}

/*HEADER*/

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
ul li:not(:last-child):after {
  content: "|";
  margin: 5px;
  text-decoration: none;
  }

li {
  display: inline;
  text-decoration: none;
}

/*FOOTER*/
footer {
  background:#464646;
  background-size: cover;
  overflow: auto;
}

.facebook1 {
color: white;
}

.youtube1{
color: white;
}

.vk1{
color: white;
}

.logofooter {
  -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.containerfooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footerbox1 {
  order: 0;
  flex-grow: 1;
  justify-content: flex-start;

}
.footerbox2 {
  flex-grow: 2;
  justify-content: center;
}
.footerbox3 {
  flex-grow: 1;
  justify-content: flex-end;
}
/*MAIN*/
.textstyle {
font-family: 'Quicksand', sans-serif;
}

.copyright {
font-family: 'Quicksand', sans-serif;
font-size: 16px;
color: white;
}


/*MAIN*/
.textstyle {
font-family: 'Quicksand', sans-serif;
}

.copyright {
font-family: 'Quicksand', sans-serif;
font-size: 16px;
}

.container{
  text-align: center;
  flex:1;
  display: flex;
  flex-flow: row;
}

.pic{
  flex:1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
