body {
  margin: 0;
  padding: 0;
}

.index-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #333;
}
.welcome {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 320px;
}

.welcome p{
  font-family: 'Roboto', sans-serif;
  flex: 1 100%;
  text-align: center;
  color: white;
  font-size: 26px;
}
.welcome a {
  flex:1 auto;
  color: white;
  transition: 0.5s all;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;

  background: tranparent;
}

.welcome a:hover {
  color: #ccc;
  background: rgba(255,2555,255, 0.4);
}

.big-logo {
  flex: 1 100%;
  margin: 15px;
}

.big-logo img{
  max-width: 320px;
  width: 100%;
  text-align: center;
  transition: 0.5s all;
}
.big-logo:hover{
  opacity: 0.5;
  background: none!important;
}

.welcome .social{
  margin: auto;
  padding: 15px 0;
}

.welcome .social a{
  border-radius: 50%;
  display: inline-block;
}

.welcome .social a i{
  width: 20px;
  height: 16px;
}

.fb{
  background-color: #6081c4;
}

.youtube{
  background-color: #ea3229;
}

.vimeo{
  background-color:#00b9d8;
}

.vk {
  background-color: #2a5885;
}

/*HEADER*/

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul li:not(:last-child):after {
  content: "|";
  margin: 5px;
  text-decoration: none;
  }

li {
  display: inline;
  text-decoration: none;
}

header {
  background: white;
}
.containerheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.headerbox1 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 30px;
}
.headerbox2 {
  display: flex;
  flex-grow: 9;
  justify-content: center;
}
.headerbox3 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 30px;
}

  .header-logo figure {
  	position: relative;
  }
  .header-logo figure::before {
  	position: absolute;
  	top: 0;
  	left: -75%;
  	z-index: 2;
  	display: block;
  	content: '';
  	width: 50%;
  	height: 100%;
  	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  	-webkit-transform: skewX(-25deg);
  	transform: skewX(-25deg);
  }
  .header-logo figure:hover::before {
  	-webkit-animation: shine .75s;
  	animation: shine .75s;
  }
  @-webkit-keyframes shine {
  	100% {
  		left: 125%;
  	}
  }
  @keyframes shine {
  	100% {
  		left: 125%;
  	}
  }

  .select-box {
    position : relative;
    max-width:  20em;
    width: 100%;
  }

  .select,
  .label {
    color: #bfbfbf;
    display: block;
    font: 400 17px/2em 'Quicksand', sans-serif;
    cursor: pointer;
  }

  .select {
    content: "▼"
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: white;
  }

  .label {
    padding: 5px 10px;
    cursor: pointer;
  }

/*FOOTER*/
footer {
  background:#464646;
  background-size: cover;
  overflow: auto;
}

.facebook1 {
cursor: pointer;
color: white;
margin-left: 10px;
}

.youtube1{
cursor: pointer;
color: white;
margin-left: 10px;
margin-right: 10px;
}

.vk1{
cursor: pointer;
color: white;
margin-right: 10px;
}

.logofooter {
}


.containerfooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footerbox1 {
  order:0;
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  margin-left: 30px;

}
.footerbox2 {
  flex-grow: 2;
  justify-content: center;
  display: flex;
}
.footerbox3 {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: 30px;
}

/*MAIN*/
.textstyle {
font-family: 'Quicksand', sans-serif;
}

.copyright {
font-family: 'Quicksand', sans-serif;
font-size: 14px;
color: white;
}


/*MAIN*/
.textstyle {
font-family: 'Quicksand', sans-serif;
}

.copyright {
font-family: 'Quicksand', sans-serif;
font-size: 14px;
}

.textmenu {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: #bfbfbf;
}

.textmenu a:hover {
  color:#3ac1c8;
  opacity: 1;
}


.textmenu a:active {
  color: #FFCA00;
}

.container{
  text-align: center;
  flex:1;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.pic{
  flex:1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width:400px;
}


.pic p {padding: 0px 120px;}

.lightgrey-section {
  background: #ebebeb;
  margin: 0;
  padding: 0;
}
h1 {
text-align: center;
font-size: 12px;
color: #3ac1c8;
font-family: 'Quicksand', sans-serif;
text-decoration: none;
}
h2 {
  text-align: center;
  font-size: 10px;
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;

}
.profilephoto {
  width:200px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}

.cropp {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.portfoto {
  display: inline;
  margin: 0 auto;
  margin-top: -50px;
  margin-left: -320px; //centers the image
  height: 100%;
  width: auto;
}


.socialmedia {
align-items: center;
}

.pic p {
  padding: 0px 120px;
  text-align: left;

}
/*CONTACTS PAGE? CAN BE DELETED*/
.partner_logos {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: baseline;
}
.partner_logo_box1{
  flex-grow: 1;
  margin-left: 30px;
}
<<<<<<< HEAD
.partner_logo_box2 {}
.partner_logo_box3 {}
.partner_logo_box4 {}

  .headbox {
    display: flex;
    justify-content: space-between;
  }

.headtext{
  padding-right: 160px
}

ul.textmenu.headtext {
    font-size: 28px;
}

.fototext{
  background-color: #e0e0e070;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px 50px;
}

.foto{
  border-radius: 50%;
  padding: 130px 0px;
}

.vlad {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #08c2ef;
}

.fototext p {
  font-size: 20px
}

h6{
  text-indent: 50px;
}


table{
  width: 250px;
  text-align: center;
  border: 1px solid black;
}

.table{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #e0e0e070;
  padding-bottom: 130px;
}

.knopka {
  background-color: white;
  padding: 20px 0px;
}

=======
.partner_logo_box2 {
  flex-grow: 2;
  margin-left: 30px;
}
.partner_logo_box3 {
  flex-grow: 3;
margin-left: 30px;}

.partner_logo_box4 {
  flex-grow: 4;
margin-left: 30px;}
>>>>>>> f5a9e9d5c1b3c2439adb9ab6b50c525fc86093e1
